<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >

<beans>
    <bean id="loginAction" class="cn.com.atblue.common.action.LoginAction" scope="prototype" autowire="byName"/>
    <bean id="sealAction" class="cn.com.atblue.oa.action.SealAction" scope="prototype" autowire="byName"/>
    <bean id="qpdAction" class="cn.com.atblue.oa.action.QpdAction" scope="prototype" autowire="byName"/>
    <bean id="mailAction" class="cn.com.atblue.oa.action.MailAction" scope="prototype" autowire="byName"/>
    <bean id="smsAction" class="cn.com.atblue.oa.action.SmsAction" scope="prototype" autowire="byName"/>
    <bean id="fwdwAction" class="cn.com.atblue.oa.action.FwdwAction" scope="prototype" autowire="byName"/>

    <bean id="officeFileDAO" class="cn.com.atblue.oa.dao.impl.OfficeFileDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeNoticeDAO" class="cn.com.atblue.oa.dao.impl.OfficeNoticeDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeNoticeCheckDAO" class="cn.com.atblue.oa.dao.impl.OfficeNoticeCheckDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeCirculationCheckDAO" class="cn.com.atblue.oa.dao.impl.OfficeCirculationCheckDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeCirculationDAO" class="cn.com.atblue.oa.dao.impl.OfficeCirculationDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeDocumentsCheckDAO" class="cn.com.atblue.oa.dao.impl.OfficeDocumentsCheckDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="officeDocumentsDAO" class="cn.com.atblue.oa.dao.impl.OfficeDocumentsDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="uMessageDAO" class="cn.com.atblue.oa.dao.impl.UMessageDAOImpl" scope="prototype" autowire="byName"/>
    <bean id="oDao" class="cn.com.atblue.oa.dao.impl.ODaoImpl" scope="prototype" autowire="byName"/>

    <bean id="officeHysqDAO" class="cn.com.atblue.oa.dao.impl.OfficeHysqImpl" scope="prototype" autowire="byName"/>
    <bean id="officeWjspDAO" class="cn.com.atblue.oa.dao.impl.OfficeWjspImpl" scope="prototype" autowire="byName"/>
    <bean id="officeSuppliesDAO" class="cn.com.atblue.oa.dao.impl.OfficeSuppliesImpl" scope="prototype" autowire="byName"/>
    <bean id="officeHolidayDAO" class="cn.com.atblue.oa.dao.impl.OfficeHolidayImpl" scope="prototype" autowire="byName"/>
    <bean id="officeYysqDAO" class="cn.com.atblue.oa.dao.impl.OfficeYysqImpl" scope="prototype" autowire="byName"/>
    <bean id="officeQpdDAO" class="cn.com.atblue.oa.dao.impl.OfficeQpdImpl" scope="prototype" autowire="byName"/>
    <bean id="officeQpdyjDAO" class="cn.com.atblue.oa.dao.impl.OfficeQpdyjImpl" scope="prototype" autowire="byName"/>
    <bean id="officeQpdFormDAO" class="cn.com.atblue.oa.dao.impl.OfficeQpdFormImpl" scope="prototype" autowire="byName"/>
    <bean id="officeQpdFormitemDAO" class="cn.com.atblue.oa.dao.impl.OfficeQpdFormitemImpl" scope="prototype" autowire="byName"/>
    <bean id="officeCjhyryDAO" class="cn.com.atblue.oa.dao.impl.OfficeCjhyryImpl" scope="prototype" autowire="byName"/>
    <bean id="officeSealDAO" class="cn.com.atblue.oa.dao.impl.OfficeSealImpl" autowire="byName"/>

    <bean id="officeMailDAO" class="cn.com.atblue.oa.dao.impl.OfficeMailImpl" autowire="byName"/>
    <bean id="officeMailSjrDAO" class="cn.com.atblue.oa.dao.impl.OfficeMailSjrImpl" autowire="byName"/>

    <bean id="officeSmsNoticeDAO" class="cn.com.atblue.oa.dao.impl.OfficeSmsNoticeImpl" autowire="byName"/>
    <bean id="officeSmsPersonDAO" class="cn.com.atblue.oa.dao.impl.OfficeSmsPersonImpl" autowire="byName"/>

    <bean id="jyglDjfyjsDAO" class="cn.com.atblue.oa.dao.impl.JyglDjfyjsImpl" autowire="byName"/>
    <bean id="jyglYjhfyDAO" class="cn.com.atblue.oa.dao.impl.JyglYjhfyImpl" autowire="byName"/>

    <bean id="officePlanDAO" class="cn.com.atblue.oa.dao.impl.OfficePlanImpl" scope="prototype" autowire="byName"/>
    <bean id="officePlanProcessDAO" class="cn.com.atblue.oa.dao.impl.OfficePlanProcessImpl" scope="prototype" autowire="byName"/>

    <bean id="officeSuppliesDepartDAO" class="cn.com.atblue.oa.dao.impl.OfficeSuppliesDepartImpl" autowire="byName"/>

    <bean id="officePeixunDAO" class="cn.com.atblue.oa.dao.impl.OfficePeixunImpl" autowire="byName"/>

    <bean id="officeYsfDAO" class="cn.com.atblue.oa.dao.impl.OfficeYsfImpl" autowire="byName"/>
    <bean id="officeYsfYspDAO" class="cn.com.atblue.oa.dao.impl.OfficeYsfYspImpl" autowire="byName"/>


    <bean id="fyglFwdwDAO" class="cn.com.atblue.oa.dao.impl.FyglFwdwImpl" autowire="byName"/>
    <bean id="fyglQzgznrDAO" class="cn.com.atblue.oa.dao.impl.FyglQzgznrImpl" autowire="byName"/>
    <bean id="fyglQzyfDAO" class="cn.com.atblue.oa.dao.impl.FyglQzyfImpl" autowire="byName"/>

</beans>